$bgcolor:#e0e7f0;
$frameColor:#f3f7fd;
$btnFrontColot:#03a4ee;
$buttonColor:#8896b4;
$borderColor:#d1d2e0;
$inputFrameColor:#a5a6bb;
$mianFamilyColor:#333;

// 监控系统
$data-color1:#1bffe5;
$data-color2:#fc9002;

// 主色调
$mainColor: #e04545;
// 底色
$bgColor: #efefef;
// 警告色
$warnColor: #ee9e03;

// header 高度
$headerHeight: 40px;