.proxy{
    padding: 20px;
    box-sizing: border-box;
    form.dialog{
        ul{
            li{
                i{
                    width: 7em;
                    display: inline-block;
                    line-height: 40px;
                }
            }
        }
    }
}